
#piechart{
  margin-top: 20px;
  border: 1px solid black;
  height: 500px;
  width: 870px;
  border-radius: 20px;
  
  

}
#barchart{
  border: 1px solid black;
  height: 500px;
  width: 870px;
  border-radius: 20px;
  
}

#shimmer{
  border: 1px solid black;
  height: 500px;
  width: 870px;
  border-radius: 20px;

}